<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parallels</title>
</head>
<body>
    <h1>🔗 Parallels</h1>
    <p>Click <button onclick="start_task()">Start Task</button> to start simulate new task chain.</p>
    <div id="log">

    </div>

    <script type="text/javascript">
        function start_task(){
            url = "/start_task"
            fetch(url).then(res=>res.json()).then(res=>{
                document.querySelector("#log").innerHTML += res +"<br/>";
            });
        }
    </script>
</body>
</html>